.Detail__container {
    display: flex;
    background-color: #FDFCF0;
    flex-direction: column;
    padding: 20px 5px 20px 5px;
    min-height: 620px;
}
.Detail__container-header {
    width: 99%;
    margin: 0 auto;
}

.DateCard_container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 5px 20px;
    border: 2px solid #FDFCF0;
    border-radius: 5px;
}

.activeDate {
    border: 2px solid black;
}

.DateCard_container:hover {
    cursor: pointer;
    border: 2px solid black;
}

.hr1 {
    border-top: 2px solid black;
    margin: 10px 0 10px 0;
}

.Datecard_container {
    display: flex;
}
.place_container {
    margin: 0 auto;
    width: 90%;
}

.place_container button {
    border: none;
    padding: 10px;
    margin: 0 5px 0 5px;
    background-color: #FDFCF0;
}

.place_container button:hover {
    cursor: pointer;
}

.not_found_premiere {
    font-size: 24px;
    font-weight: bold;
    height: 25vh;
    color: red;
}


@media screen and (max-width: 900px) {
    .Datecard_container {
        white-space: pre-wrap;
    }
}