.container {
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cardAction button{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: #4EAF46;
    color: white;
    font-weight: bold;
    border: none;
}
.cardAction button:hover {
    background-color: white;
    color: #4EAF46;
}

.cardText {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardText h4 {
    overflow-wrap: break-word;
    max-width: 185px;
    height: 80px;
    font-weight: bold;
    color: white;
}

.cardImage img {
    height: 275px
}